body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}
.header-container {
  display: flex;
  justify-content: center;
}
.header {
  display: flex;
  width: 100%;
  position: fixed;
  z-index: 1;
  height: 69px;
  background-color: black;
  border-bottom: 1px solid seashell;
  align-items: center;
}
.header img {
  display: inline-block;
  height: 50px;
  margin-left: 10px;
  align-items: center;
}
.nav {
  color: seashell;
  display: block;
  text-align: right;
  flex-grow: 1;
  justify-content: space-between;
}
.nav span {
  padding: 12px;
  display: inline-block;
  text-decoration: underline;
  text-align: right;
}
/*-- Main Content Container --*/
}
.content {
  width: 1200px;
  height: 770;
}

/* -- Mission Section --*/
.mission-container {
  display: flex;
  justify-content: center;
}

.image-content {
  background-image:url("../images/img-mission-background.jpg");
  width: 1200px;
  height: 700px;
  display: flex;
}
